

INPUT,SELECT,TEXTAREA {
	background-color: black;
	color: white;
	border-color: #444;
}

INPUT,SELECT {
	font-size: x-small;
}

#uid {
	background-color: black;
	color: white;
	border: 2px inset #444;
	border-color: #f5f5f5;
	text-align: center;
	width: 33px;
}

#divfix {
  /* fixed position a zero-height full width container */
  position: fixed;
  top: 180;
  left: 0;
  right: 0;
  /* center all inline content */
  text-align: center;
}
.input {
  display: inline-block;
  position: relative;
}
.controls {
  position: absolute;
  top: 3;
  left: 100%;
  width: auto;
  white-space: nowrap;
} 
.controls2 {
  position: absolute;
  top: 3;
  right: 100%;
  width: auto;
  white-space: nowrap;
} 

#divfix2 {
  /* fixed position a zero-height full width container */
  position: fixed;
  top: 190;
  left: 0;
  right: 0;
  /* center all inline content */
  text-align: center;
}
.input {
  display: inline-block;
  position: relative;
}
.controls3 {
  position: absolute;
  top: 3;
  left: 100%;
  width: auto;
  white-space: nowrap;
} 
.controls4 {
  position: absolute;
  top: 3;
  right: 100%;
  width: auto;
  white-space: nowrap;
} 