INPUT,SELECT {
	background-color: black;
	color: white;
	border-color: #444;
}

TEXTAREA {
	background-color: white;
	color: black;
	border-color: #444;
}

INPUT,SELECT {
	font-size: x-small;
}



