#table-cell { 
    display: table-cell;
    width: 150px;
}

#border {
    outline: 2px solid #000000;
}

.floating-box {
    float: right;
    text-align: left;
    width: 121px;
    height: 65px;
    margin: 0px 0px -57px 0px;
    top: 3px;
    position: relative; 
    left: 0px;
    bottom: 0px;
    
}

.floating-box2 {
    float: right;
    text-align: left;
    width: 121px;
    height: 65px;
    margin: 0px 0px -57px 0px;
    top: -5px;
    position: relative; 
    left: 0px;
    bottom: 0px;
    
}